<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camila's Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camila's Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-select [(ngModel)]="selectedBasemap" (ionChange)="changeBasemap()">
    <ion-select-option value="topo-vector">Topographic</ion-select-option>
    <ion-select-option value="streets">Streets</ion-select-option>
    <ion-select-option value="dark-gray">Dark Gray</ion-select-option>
  </ion-select>

  <div id="container" style="height: 100%; width: 100%;"></div>
</ion-content>